<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div style="padding: 40px"></div>
  <ul class="nav" style="list-style-type: none; padding: 0">
    <li class="nav-item" *ngIf="isAllowed('Admin') == true">
      <a
        class="nav-link"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="ui-basic"
        [routerLink]="['utilisateurs']"
        routerLinkActive="active"
        >Utilisateurs</a
      >
    </li>
    <li class="nav-item" *ngIf="isAllowed('Admin') == true">
      <a
        class="nav-link"
        data-toggle="collapse"
        [routerLink]="['role']"
        aria-expanded="false"
        aria-controls="ui-basic"
        routerLinkActive="active"
        >Roles</a
      >
    </li>
    <li class="nav-item" *ngIf="isAllowed('Admin') == true">
      <a
        class="nav-link"
        [routerLink]="['fournisseurs']"
        data-toggle="collapse"
        routerLinkActive="active"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        Fournisseurs</a
      >
    </li>
    <li class="nav-item" *ngIf="isAllowed('Admin') == true">
      <a
        class="nav-link"
        [routerLink]="['articles']"
        data-toggle="collapse"
        routerLinkActive="active"
        aria-expanded="false"
        aria-controls="ui-basic"
        >Articles</a
      >
    </li>
    <li class="nav-item" *ngIf="isAllowed('Admin') == true">
      <a
        class="nav-link"
        [routerLink]="['typeRetard']"
        routerLinkActive="active"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="ui-basic"
        >Type de retard</a
      >
    </li>

    <li class="nav-item" *ngIf="isAllowed('Admin') == true">
      <a
        class="nav-link"
        data-toggle="collapse"
        [routerLink]="['ContratDashboard']"
        routerLinkActive="active"
        aria-expanded="false"
        aria-controls="ui-basic"
        >Contrats</a
      >
    </li>

    <li class="nav-item" *ngIf="isAllowed('Chef d escale') == true">
      <a
        class="nav-link"
        [routerLink]="['dashboardRetard']"
        routerLinkActive="active"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="ui-basic"
        >Retard</a
      >
    </li>
  </ul>
</nav>
