<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand"><div class=""></div></div>
          <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
        </div>
        <p class="card-title">Ajouter un menu</p>

        <form [formGroup]="addForm" (ngSubmit)="onAdd(addForm)">
          <div class="form-group">
            <label for="type">Titre </label>
            <input
              type="text"
              formControlName="titre"
              class="form-control"
              id="exampleInputUsername2"
              placeholder="titre..."
            />
            <small
              class="text-danger"
              *ngIf="
                addForm.controls['titre'].invalid &&
                addForm.controls['titre'].touched
              "
            >
              *saisir un titre !
            </small>
          </div>
          <label for="type"
            >Articles

            <button
              (click)="onOpenModal(null, 'ArticleList')"
              type="button"
              class="btn btn-inverse-secondary btn-fw"
            >
              <i class="mdi mdi-plus"></i>
            </button>
            <!-- Article list -->
            <div
              class="modal fade"
              id="ArticleList"
              tabindex="-1"
              role="dialog"
              aria-labelledby="ArticleListModelLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" style="margin-top: 4px" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">
                      Liste des articles
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let article of articles">
                            <td>{{ article.nomArticleFr }}</td>
                            <td>{{ article.nomArticleEn }}</td>
                            <td>{{ article.nomArticleAr }}</td>

                            <td>
                              <button
                                type="button"
                                type="button"
                                (click)="addToList(article)"
                                class="btn btn-inverse-secondary btn-fw"
                              >
                                <i class="mdi mdi-plus"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal">
                        Quitter
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </label>

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr *ngFor="let article of listArticle; index as i">
                  <td>{{ article.nomArticleFr }}</td>
                  <td>{{ article.nomArticleEn }}</td>
                  <td>{{ article.nomArticleAr }}</td>
                  <td>
                    <button
                      type="button"
                      type="button"
                      (click)="deleteFromList(i)"
                      class="btn btn-inverse-secondary btn-fw"
                    >
                      <i class="mdi mdi-delete"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button
            style="margin-left: 76%"
            [disabled]="addForm.invalid"
            type="submit"
            class="btn btn-dark"
          >
            Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">Menus</p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th style="padding-left: 20%">Actions</th>
              </tr>
            </thead>
            <tr *ngFor="let menu of Menu">
              <td>{{ menu.titre }}</td>
              <td style="padding-left: 18%">
                <button
                  type="button"
                  (click)="onOpenModal(menu, 'edit')"
                  class="btn btn-inverse-secondary btn-fw"
                >
                  <i class="mdi mdi-pencil"></i>
                </button>
                <!-- Edit Modal -->
                <div
                  class="modal fade"
                  id="edit"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" style="margin-top: 10px">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4 class="card-title">Modifier Menu</h4>
                        <form #editForm="ngForm">
                          <div class="form-group row">
                            <label
                              for="exampleInputUsername2"
                              class="col-sm-3 col-form-label"
                              >Titre</label
                            >
                            <div class="col-sm-9">
                              <input
                                type="hidden"
                                ngModel="{{ editMenu?.id }}"
                                name="id"
                                class="form-control"
                                id="id"
                              />
                              <input
                                ngModel="{{ editMenu?.titre }}"
                                name="type"
                                type="text"
                                class="form-control"
                                id="exampleInputUsername2"
                                placeholder="{{ editMenu?.titre }}"
                              />
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-light"
                              data-dismiss="modal"
                            >
                              Annuler
                            </button>
                            <button
                              (click)="onEdit(editForm.value)"
                              type="button"
                              class="btn btn-dark"
                              data-dismiss="modal"
                            >
                              Enregistrer
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  (click)="onOpenModal(menu, 'delete')"
                  class="btn btn-inverse-secondary btn-fw"
                >
                  <i class="mdi mdi-delete"></i>
                </button>
                <!-- Delete Modal -->
                <div
                  class="modal fade"
                  id="delete"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="deleteModelLabel"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog"
                    style="margin-top: 4px"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModelLabel">
                          Supprimer Type de retard
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>
                          êtes-vous sûr de vouloir supprimer type de retard:
                          {{ deleteMenu?.titre }}
                          ?
                        </p>
                        <div class="modal-footer">
                          <button
                            (click)="onDelete(deleteMenu!.id)"
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                          >
                            Oui
                          </button>
                          <button class="btn btn-danger" data-dismiss="modal">
                            Non
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  (click)="onOpenModal(menu, 'menuDetails')"
                  class="btn btn-inverse-secondary btn-fw"
                >
                  <i class="mdi mdi-eye"></i>
                </button>
                <!-- Menu details -->
                <div
                  class="modal fade"
                  id="menuDetails"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="menuListModelLabel"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog"
                    style="margin-top: 4px"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Menu {{ Lemenu?.titre }}</h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr *ngFor="let a of Lemenu?.articles">
                                <td>{{ a?.nomArticleFr }}</td>
                                <td>{{ a?.nomArticleEn }}</td>
                                <td>{{ a?.nomArticleAr }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-danger" data-dismiss="modal">
                            Quitter
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
