<!-- <div *ngFor="let TypeRetard of TypeRetards">
  {{ TypeRetard.type }}
</div> -->
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand"><div class=""></div></div>
          <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
        </div>
        <p class="card-title">Ajouter un type de retard</p>

        <form [formGroup]="addForm" (ngSubmit)="onAdd(addForm)">
          <div class="form-group">
            <label for="type">Type de retard </label>
            <input
              type="text"
              formControlName="type"
              class="form-control"
              id="exampleInputUsername2"
              placeholder="type..."
            />
            <small
              class="text-danger"
              *ngIf="
                addForm.controls['type'].invalid &&
                addForm.controls['type'].touched
              "
            >
              *saisir type de retard !
            </small>
          </div>
          <button
            style="margin-left: 76%"
            [disabled]="addForm.invalid"
            type="submit"
            class="btn btn-dark"
          >
            Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">Types de retard</p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th style="padding-left: 20%">Actions</th>
              </tr>
            </thead>
            <tr *ngFor="let type of TypeRetards">
              <td>{{ type.type }}</td>
              <td style="padding-left: 18%">
                <button
                  type="button"
                  (click)="onOpenModal(type, 'edit')"
                  class="btn btn-inverse-secondary btn-fw"
                >
                  <i class="mdi mdi-pencil"></i>
                </button>
                <!-- Edit Modal -->
                <div
                  class="modal fade"
                  id="edit"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" style="margin-top: 10px">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4 class="card-title">Modifier type de retard</h4>
                        <form #editForm="ngForm">
                          <div class="form-group row">
                            <label
                              for="exampleInputUsername2"
                              class="col-sm-3 col-form-label"
                              >Type de retard</label
                            >
                            <div class="col-sm-9">
                              <input
                                type="hidden"
                                ngModel="{{ editTypeRetard?.id }}"
                                name="id"
                                class="form-control"
                                id="id"
                              />
                              <input
                                ngModel="{{ editTypeRetard?.type }}"
                                name="type"
                                type="text"
                                class="form-control"
                                id="exampleInputUsername2"
                                placeholder="{{ editTypeRetard?.type }}"
                              />
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-light"
                              data-dismiss="modal"
                            >
                              Annuler
                            </button>
                            <button
                              (click)="onEdit(editForm.value)"
                              type="button"
                              class="btn btn-dark"
                              data-dismiss="modal"
                            >
                              Enregistrer
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  (click)="onOpenModal(type, 'delete')"
                  class="btn btn-inverse-secondary btn-fw"
                >
                  <i class="mdi mdi-delete"></i>
                </button>
                <!-- Delete Modal -->
                <div
                  class="modal fade"
                  id="delete"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="deleteModelLabel"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog"
                    style="margin-top: 4px"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModelLabel">
                          Supprimer Type de retard
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>
                          êtes-vous sûr de vouloir supprimer type de retard:
                          {{ deleteTypeRetard?.type }}
                          ?
                        </p>
                        <div class="modal-footer">
                          <button
                            (click)="onDelete(deleteTypeRetard!.id)"
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                          >
                            Oui
                          </button>
                          <button class="btn btn-danger" data-dismiss="modal">
                            Non
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
