<app-nav-bar></app-nav-bar>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<div class="container-fluid page-body-wrapper">
  <app-side-bar></app-side-bar>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <app-profil></app-profil>
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="card-title">VOLS EN RETARD</h4>
              <div class="input-group" style="margin-bottom: 50px">
                <input
                  type="text"
                  class="form-control"
                  #vol
                  (keyup)="setFilter(vol.value, '', '', '')"
                  placeholder="Vol..."
                  aria-label="Recipient's username"
                />
                <input
                  type="text"
                  class="form-control"
                  #origine
                  (keyup)="setFilter('', origine.value, '', '')"
                  placeholder="Origine..."
                  aria-label="Recipient's username"
                />

                <input
                  type="text"
                  class="form-control"
                  #destination
                  (keyup)="setFilter('', '', destination.value, '')"
                  placeholder="destination..."
                  aria-label="Recipient's username"
                />
                <input
                  type="date"
                  class="form-control"
                  #date
                  (mouseleave)="setFilter('', '', '', date.value)"
                  aria-label="Recipient's username"
                />
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date declanchement</th>
                      <th>type</th>
                      <th>CIE</th>
                      <th>VOL</th>
                      <th>NB_PAX</th>
                      <th>NB_ENF</th>
                      <th style="padding-left: 20px">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let retard of FiltredRetard">
                      <td>{{ retard?.dateDeclanchement }}</td>
                      <td>{{ retard?.typeRetard.type }}</td>
                      <td>{{ retard?.cie }}</td>
                      <td>{{ retard?.vl }}</td>
                      <td>{{ retard?.nb_PAX }}</td>
                      <td>{{ retard?.nb_ENF }}</td>

                      <td>
                        <button
                          type="button"
                          (click)="onOpenModal(retard, 'bon')"
                          class="btn btn-inverse-secondary btn-fw"
                        >
                          <i class="mdi mdi-clipboard-text"></i>
                        </button>
                        <!-- Contrat details -->
                        <div
                          class="modal fade"
                          id="bon"
                          tabindex="-1"
                          role="dialog"
                          aria-hidden="true"
                        >
                          <div
                            class="modal-dialog"
                            style="margin-top: 4px"
                            role="document"
                          >
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">VERIFIER PASSAGER</h5>

                                <button
                                  type="button"
                                  class="close"
                                  id="Quitter"
                                  data-dismiss="modal"
                                  aria-label="Close"
                                >
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="input-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="inputScan"
                                    #x
                                    (keyup)="setFilterText(x.value)"
                                    placeholder="Code..."
                                    aria-label="Recipient's username"
                                  />
                                  <div class="input-group-append">
                                    <button
                                      class="btn btn-dark btn-fw"
                                      type="button"
                                      (click)="startScanner()"
                                    >
                                      <i class="mdi mdi-barcode-scan"></i>
                                    </button>
                                  </div>
                                </div>
                                <div id="qr-reader">
                                  <p></p>
                                  <div
                                    id="scanner"
                                    style="width: 100%; height: auto"
                                  ></div>

                                  <div
                                    id="qr-reader"
                                    style="width: 500px"
                                  ></div>
                                  <div id="qr-reader-results"></div>
                                </div>

                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr *ngFor="let bon of filtredbon">
                                        <td>
                                          {{ bon.nomPassger }}
                                        </td>
                                        <td>
                                          <label
                                            *ngIf="bon?.valide === true"
                                            id="statut"
                                            class="badge badge-success"
                                          >
                                            bon activé</label
                                          >
                                          <label
                                            *ngIf="bon?.valide === false"
                                            class="badge btn-danger"
                                          >
                                            Bon désactivé</label
                                          >
                                        </td>
                                      </tr>
                                      <tr></tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="modal-footer"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
